<footer class="container-fluid bg-light footer-main-page">
    <article class="row">
        <section class="col-sm-4">
            <p class="big-fonts m-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sint blanditiis recusandae eius provident dolorum, nam veritatis iusto repudiandae omnis vitae reiciendis! Dignissimos, fugiat ab dolorem deleniti necessitatibus eveniet laborum.</p>
        </section>
        <section class="col-sm-4">
            <p class="copyright-text-alignment mt-5">&copy; Copyright 2020</p>
        </section>
        <section class="col-sm-4">
            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+">
                <i class="fa fa-google-plus big-fonts"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=">
                <i class="fa fa-facebook big-fonts"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/">
                <i class="fa fa-linkedin big-fonts"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/">
                <i class="fa fa-twitter big-fonts"></i>
            </a>
            <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/">
                <i class="fa fa-youtube big-fonts"></i>
            </a>
            <a class="btn btn-social-icon" href="mailto:">
                <i class="fa fa-envelope-o big-fonts"></i>
            </a>
        </section>
    </article>
</footer>