@import '../app.component.scss';
.big-fonts {
    font-size: map-get($font-sizes, "big");
}

.medium-fonts {
    font-size: map-get($font-sizes, "medium");
}

.copyright-text-alignment {
    margin-left: 40%;
}

.footer-main-page {
    /* Sticks footer at the bottom of a page*/
    width: 100%;
    position: absolute;
    bottom: -1528px;
}