<section>
    <figure>
        <img src="../../assets/images/movie-jumbotron-site.jpeg" class="img-jumbotron-style " alt="An old cinema projector">
        <figcaption class="caption-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
    </figure>
</section>
<section class="container-fluid bg-dark mat-card-container">
    <h1 class="text-white text-center trend-movies-header">Trending Movies</h1>
    <mat-card class="mat-card-style">
        <mat-card-header>
            <mat-card-title class="text-center">Get Out</mat-card-title>
            <mat-card-subtitle class="text-white text-center">2017</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="mat-card-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTE2Nzg1NjkzNV5BMl5BanBnXkFtZTgwOTgyODMyMTI@._V1_SY500_CR0,0,315,500_AL_.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                A young African American man visits his European American girlfriend's family estate where he learns that many of its residents, who are black, have gone missing, and he soon learns the horrible truth when another frantic African-American warns him to
                \"get out\". He soon learns this is easier said than done.
            </p>
        </mat-card-content>
    </mat-card>
</section>
<section class="container-fluid bg-secondary mat-card-container">
    <h1 class="text-white text-center trend-movies-header">Upcoming Movies</h1>
    <mat-card class="mat-card-style">
        <mat-card-header>
            <mat-card-title class="text-center">Get Out</mat-card-title>
            <mat-card-subtitle class="text-white text-center">2017</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="mat-card-img" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTE2Nzg1NjkzNV5BMl5BanBnXkFtZTgwOTgyODMyMTI@._V1_SY500_CR0,0,315,500_AL_.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                A young African American man visits his European American girlfriend's family estate where he learns that many of its residents, who are black, have gone missing, and he soon learns the horrible truth when another frantic African-American warns him to
                \"get out\". He soon learns this is easier said than done.
            </p>
        </mat-card-content>
    </mat-card>
</section>
<section class="container-fluid bg-light">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="text-black text-center contact-header mt-4">Contact Us</h1>
            <form class="contact-form" method="POST" action="">
                <div class="form-group">
                    <label for="name">Name:
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    </label>
                </div>
                <div class="form-group">
                    <label for="surname">Surname:
                        <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname">
                    </label>
                </div>
                <div class="form-group">
                    <label for="email">Email:
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    </label>
                </div>
                <div class="form-group">
                    <label>Message:
                        <textarea rows="7" cols="30"></textarea>
                    </label>
                </div>
                <button type="submit" class="btn btn-secondary">Send</button>
            </form>
        </div>
        <div class="col-sm-6 map-style map-style">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d504460.3616164455!2d-172.15785591866455!3d-8.963248368358073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x705226aab3781df7%3A0x8f7062466ddb9b37!2zzqTOv866zrXOu86szr_PhQ!5e0!3m2!1sel!2sgr!4v1605785313443!5m2!1sel!2sgr"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>