<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <a class="navbar-brand text-white" routerLink="">Movie App</a>
    <section class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0 ml-4">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn fa fa-search text-white search-icon" type="submit"></button>
            </form>
        </div>
    </section>
    <a class="nav-link text-white" routerLink="login"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login</a>
    <a class="nav-link text-white" routerLink="register"><i class="fa fa-registered mr-2" aria-hidden="true"></i>Register</a>
</nav>